.Card{
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.2)!important; 
}

.Card:hover {
    transform: scale(1.02); /* Ajusta según tus preferencias */
    transition: transform 0.1s ease; /* Agrega una transición suave */
  }

.dataContainer{
    display: flex;
}
.userComment{
flex: 50%;
}

.dateComment{
    flex: 50%;
}