.logo {
  width: 70px;
  height: 70px;
}

.navbarStyle {
  background: white !important;
}

.nameStyle {
  font-weight: bold !important;
  font-size: 24px !important;
  color: black !important;
  text-decoration: none !important;
  cursor: pointer;
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 200px;
}

.navLink {
  color: black !important;
  text-decoration: none !important;
  cursor: pointer;
}

.btnsContainer {
  display: flex;
  gap: 30px;
  align-items: center;
}

.btnInicarStyle {
  border-color: #FEAE21 !important;
  color: black !important;
  border-radius: 5px;
  text-transform: capitalize !important;
}

.btnRegistrarStyle {
  background-color: #99E550 !important;
  color: black !important;
  border-radius: 5px;
  text-transform: capitalize !important;
}