/* Estilos para el contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
  }
  

  .leftColumn {
    margin-top: 4rem;
    flex: 1; 
  }
  

  .rightColumn {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  
  /* Estilos del zorro */
  img {
    max-width: 100%;
  }
  
  /* Estilos del errorDiv */
  h1 {
    font-size: 4rem;
  }
  