/* styles.css */

.listItemButton {
  min-height: 68px;
  width: 18px;
  transition: transform 0.2s;
}

.listItemButton:hover {
  background: rgba(254, 174, 33, 1);
  border-radius: 10%;
  padding: 0 20px; /* px: 2.5 */
}

.listItemIcon {
  min-width: 0;
  margin-right: auto;
  justify-content: center;
  transition: transform 0.2s;
}

.listItemIcon:hover {
  transform: scale(1.4);
  color: white;
}

.listItemText {
  transition: transform 0.2s;
}

.listItemText:hover {
  transform: scale(1.2);
  color: white;
}
